vaarn/node_modules/
.vscode/
node_modules/
rabid2Copy.ps1
CopyToDeadbox.ps1
CopyToLocal.ps1
vaults-of-vaarn/packs/armor
vaults-of-vaarn/packs/armor/*
vaults-of-vaarn/packs/clothing
vaults-of-vaarn/packs/clothing/*
vaults-of-vaarn/packs/food
vaults-of-vaarn/packs/food/*
vaults-of-vaarn/packs/items
vaults-of-vaarn/packs/items/*
vaults-of-vaarn/packs/light
vaults-of-vaarn/packs/light/*
vaults-of-vaarn/packs/macros
vaults-of-vaarn/packs/macros/*
vaults-of-vaarn/packs/other
vaults-of-vaarn/packs/other/*
vaults-of-vaarn/packs/rules
vaults-of-vaarn/packs/rules/*
vaults-of-vaarn/packs/spells
vaults-of-vaarn/packs/spells/*
vaults-of-vaarn/packs/starting-gear
vaults-of-vaarn/packs/starting-gear/*
vaults-of-vaarn/packs/traits
vaults-of-vaarn/packs/traits/*
vaults-of-vaarn/packs/weapons
vaults-of-vaarn/packs/weapons/*
