vaarn/node_modules/
.vscode/
node_modules/
rabid2Copy.ps1
CopyToDeadbox.ps1
CopyToLocal.ps1
packs/armor
packs/armor/*
packs/clothing
packs/clothing/*
packs/food
packs/food/*
packs/items
packs/items/*
packs/light
packs/light/*
packs/macros
packs/macros/*
packs/other
packs/other/*
packs/rules
packs/rules/*
packs/spells
packs/spells/*
packs/starting-gear
packs/starting-gear/*
packs/traits
packs/traits/*
packs/weapons
packs/weapons/*
